@{
    ViewData["Title"] = "Gold Subscription";
}

<body>
    <h1 class="pageTitles">Transaction Successful</h1>
    <p class="transactionInfo">Thank you for your subscription! You are now a proud subscriber of the Gold subscription!</p>
    <p>Your benefits include:</p>
    <ul>
        <li>Unlimited Device Access</li>
        <li>Support Service</li>
        <li>30 Bot Limit</li>
    </ul>

    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
        <button type="button" class="btn btn-secondary btn-outline-light">Home</button>
    </a>
</body>
