@{
    ViewData["Title"] = "Basic Subscription";
}

<body>
    <h1 class="pageTitles">Transaction Successful</h1>
    <p class="transactionInfo">Thank you for your subscription! You are now a proud subscriber of the Silver subscription!</p>
    <p>Your benefits include:</p>
    <ul>
        <li>10 Device Access</li>
        <li>Support Service</li>
        <li>7 Bot Limit</li>

        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
            <button type="button" class="btn btn-secondary btn-outline-light">Home</button>
        </a>
    </ul>
</body>
