@{
    ViewData["Title"] = "About";
}
<h1 class="pageTitles">@ViewData["Title"]</h1>

<div class="container" id="about" style="margin-top: 100px">
    <div class="image">
        <img src="~/css/assets/About_Us.png" alt="example about image" id="aboutBanner" />
    </div>

    <p style="margin-top: 5px; font-size: 110%">Our team at -------- </p>
</div>
