@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<div class="container" id="about" style="margin-top: 100px">
    <div class="image">
        <img src="~/assets/AboutPlaceHolder.jpg" alt="example about image" />
    </div>
    <h2 style="font-size: 225%" align="right">About</h2>

    <p style="margin-top: 5px; font-size: 110%" align="right">Short about us statement</p>
</div>