@{
    ViewData["Title"] = "Home Page";
}

<div style="margin-bottom: 25px">
    <div id="titleContainer">
        <h1 id="webName">Chat Bots</h1>
        <p style="margin-top: 5px; font-size: 120%; max-width: 500px">Our mission here at ---- is delivering AI Bots useful for automation of small applications or learning AI</p>
        <a asp-area="" asp-controller="CreateAccount" asp-action="Create">
            <button type="button" class="btn btn-secondary btn-outline-light">Get Started!</button>
        </a>
        <a asp-area="" asp-controller="Account" asp-action="Login">
            <button type="button" class="btn btn-secondary btn-outline-light">Login</button>
        </a>
    </div>

    <div class="card mb-3" id="homeCards">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="~/css/assets/About_main_page.png" alt="example about image" style="border-radius: 25px"/>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h2 id="aboutTitle">About</h2>
                    <p style="margin-top: 5px; font-size: 110%">With AI growing and making it's mark on the world, Our team at ----- hope to deliver AI that is both useful and easy to understand.</p>
                    <a asp-area="" asp-controller="Home" asp-action="About">
                        <button type="button" class="btn btn-secondary btn-outline-light">About</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3" id="homeCards">
        <div class="row g-0">
            <div class="col-md-7">
                <div class="card-body">
                    <h2 id="productsTitle">Products</h2>
                    <p>We offer subscriptions to our services that provide our customers access to AI bots that are customizable and deployable.</p>
                    <a asp-area="" asp-controller="Home" asp-action="Products">
                        <button type="button" class="btn btn-secondary btn-outline-light">Products</button>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <img src="~/css/assets/Product_main_page.png" alt="example products image" style="border-radius: 25px" />
            </div>
        </div>
    </div>
</div>
