@{
    ViewData["Title"] = "Products";
}
<h1>@ViewData["Title"]</h1>
      <div id="ProductHeader" class="container-fluid text-center" style="margin-top:50px">
        <h2>Subscription/Pricing Table</h2>
      </div>

      <div id="ToSubscribe" class="container-fluid text-center" style="margin-top:50px">
        <button type="button" class="btn btn-success btn-lg">To Subscribe</button>
      </div>

      <div  id="Products" class="container-fluid text-center" style="margin-top:50px">
        <div class="container">
          <div class="col-sm-4">
              <img id="1" type="image" src="~/assets/ProductPlaceholder.jpg" alt="Product1" width="100%" height="380" frameBorder="0">
          </div>
          <div class="col-sm-4">
              <img src="~/assets/ProductPlaceholder2.png" alt="Product2" width="100%" height="380" frameBorder="0">
          </div>
          <div class="col-sm-4">
              <img src="~/assets/ProductPlaceholder3.jpg"alt="Product3" width="100%" height="380" frameBorder="0">
          </div>
        </div>
      </div>

