@{
    ViewData["Title"] = "Subscriptions";
}
<h1 class="pageTitles">@ViewData["Title"]</h1>

<body>

    <div id="ProductHeader" class="container-fluid text-center" style="margin-top:50px">
        <h2 style="color: lightgray">Subscription/Pricing Table</h2>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4" style="margin-top:50px">
        <div class="col">
            <div class="card h-100">
                <img src="~/css/assets/Bronze.png" class="card-img-top" alt="Product1" width="100%" height="450" frameBorder="0">
                <div class="card-body" style="background-color:rgb(64, 64, 64)">
                    <h5 style="color:rgb(33, 145, 150)">Bronze</h5>
                    <ul>
                        <li>5 Device Access</li>
                        <li>Support Service</li>
                        <li>3 Bot Limit</li>
                    </ul>
                    <a class="btn btn-primary" asp-controller="Checkout" asp-action="CheckoutPageB">Choose Tier</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="~/css/assets/Silver.png" class="card-img-top" alt="Product2" width="100%" height="450" frameBorder="0">
                <div class="card-body" style="background-color:rgb(64, 64, 64)">
                    <h5 style="color:rgb(33, 145, 150)">Silver</h5>
                    <ul>
                        <li>10 Device Access</li>
                        <li>Support Service</li>
                        <li>7 Bot Limit</li>
                    </ul>
                    <a class="btn btn-primary" asp-controller="Checkout" asp-action="CheckoutPageS">Choose Tier</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="~/css/assets/Gold.png" class="card-img-top" alt="Product2" width="100%" height="450" frameBorder="0">
                <div class="card-body" style="background-color:rgb(64, 64, 64)">
                    <h5 style="color:rgb(33, 145, 150)">Gold</h5>
                    <ul>
                        <li>Unlimited Device Access</li>
                        <li>Support Service</li>
                        <li>30 Bot Limit</li>
                    </ul>
                    <a class="btn btn-primary" asp-controller="Checkout" asp-action="CheckoutPageG">Choose Tier</a>
                </div>
            </div>
        </div>
    </div>

</body>
