@{
    ViewData["Title"] = "Products";
}
<h1>@ViewData["Title"]</h1>

<div class="container" id="products" style="margin-top: 100px">

    <h2 style="font-size: 225%">Products</h2>

    <p style="margin-top: 5px; font-size: 110%">What we offer</p>
    <div class="image">
        <img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fpng.pngtree.com%2Felement_our%2F20190602%2Fourmid%2Fpngtree-pink-cartoon-smart-computer-illustration-image_1409935.jpg&imgrefurl=https%3A%2F%2Fpngtree.com%2Fso%2Fcartoon-computer&tbnid=gk1V_lOIIrGniM&vet=12ahUKEwim0q6x0cj9AhU4OUQIHfvwC0sQMyggegUIARCRAg..i&docid=xguKmMIffhrxlM&w=360&h=360&q=cartoon%20computer%20images&ved=2ahUKEwim0q6x0cj9AhU4OUQIHfvwC0sQMyggegUIARCRAg" alt="example products image" align="right" />
    </div>
</div>
